{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
{% include 'include/sunil/sunil_menu.html' %}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Add_Taluka">
    Add Taluka
  </button>
  

  <table class="table table-striped table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for t in taluka %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{t.name}}</td>
          <td>{{t.mobile}}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Edit{{t.id}}">Edit</button></td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="Edit{{t.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit To - {{t.name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="POST">{% csrf_token %} 
                  <input type="hidden" value="{{t.id}}" name="id">
                  <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" value="{{t.name}}" class="form-control" id="Name" name="name" placeholder="Name" required>
                  </div>
                  <button type="submit" name="edit_taluka" class="btn btn-primary">Edit</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
{% endfor %}
    </tbody>
  </table>




  <!-- Modal -->
  <div class="modal fade" id="Add_Taluka" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Taluka</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST">{% csrf_token %} 
                <div class="mb-3">
                  <label for="Name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="Name" name="name" placeholder="Name" required>
                </div>
                <button type="submit" name="Add_Taluka" class="btn btn-primary">Add</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}