{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/navbar.html' %}
{% load static %}
{% load home_tag %}

<style>
    *{margin: 0; padding: 0; box-sizing: border-box;}

    .flex{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr ));
        gap: 5px;
        row-gap: 10px;
        justify-content: center;
    }
    .a{
        text-decoration: none;
        color: black;
        text-align: center;
        width: 150px;
        height: 200px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        -webkit-box-shadow: 0px -5px 91px -5px rgba(191,191,191,0.63);
-moz-box-shadow: 0px -5px 91px -5px rgba(191,191,191,0.63);
box-shadow: 0px -5px 91px -5px rgba(191,191,191,0.63);
    }
    img{
        width: 100px;
    }
    .name{
        margin-top: 10px;
    }
    name{
        font-weight: 600;
        font-size: 21px;
    }
    .title{
        margin-top: -30px;
        padding: 20px;
    }
    .msg{
        width: fit-content;
        height: fit-content;
        background-color: red;
        color: white;
        padding: 5px;
        border-radius: 45%;
    }
    .members{
        font-size: 10px;
        font-weight: 700;
        align-items: center;
        border-right: 1px solid black;
    }
    .sms{
        align-items: center;
    }
</style>
<br>
<div class="title"><p><b>आपला नेता!! आपली चर्चा!! आपले मत!!</b><br>
    प्रसन्न डिजिटल सादर करत आहे आपल्या साठी खास डिजिटल कट्टा ग्रुप......आता आपल्या नेत्यांसोबत संलग्न रहा 24 तास अन् थेट मांडा आपली मते......अन् जाणून घ्या आजचा दौरा,बैठक, मीटिंग,कार्यक्रम अन् बरच काही......ताबडतोब जॉईन करा अन् फॉलो करा आपल्या आवडत्या नेत्याला.......</p></div>
<div class="container">
{% for l in leader %}
    <a class="a" href="/group/{{l.id}}/0/">
        <leader_box>
            <div class="img"><img src="{% static 'img/leader.png' %}" alt=" "></div>
            <div class="name"><name>{{l.name}}</name></div>
            <div class="flex">
                <div class="members flex"><i class="fa-solid fa-user-group"></i><div class="msg">{% user_count_group l.id %}<small>+</small></div> &nbsp;</div>
                <div class="sms flex"><i class="fa-solid fa-comment"></i><div class="msg">1000<small>+</small></div></div>
            </div>
        </leader_box>
    </a>
{% endfor %}
</div>



{% endblock content %}