{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/navbar.html' %}
{% load static %}
{% load home_tag %}

<style>
    *{margin: 0; padding: 0; box-sizing: border-box;}

    .flex{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr ));
        gap: 5px;
        row-gap: 30px;
        justify-content: center;
    }
    .a{

        text-align: center;
        width: 150px;
        height: 300px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        -webkit-box-shadow: 0px -5px 91px -5px rgba(191,191,191,0.63);
-moz-box-shadow: 0px -5px 91px -5px rgba(191,191,191,0.63);
box-shadow: 0px -5px 91px -5px rgba(191,191,191,0.63);
        a{
            text-decoration: none;
            color: black; 
        }
    }
    img{
        
        height: 148px;
        
        border-radius: 10px;
    }
    .name{
        margin-top: 10px;
    }
    name{
        font-weight: 600;
        font-size: 21px;
    }
    .title{
        margin-top: -30px;
        padding: 20px;
    }
    .msg{
        width: fit-content;
        height: fit-content;
        background-color: red;
        color: white;
        padding: 5px;
        border-radius: 45%;
    }
    .members{
        font-size: 15px;
        font-weight: 700;
        align-items: center;
        i{
            font-size: 20px;
        }
    }




 .leader_main_box{
    margin-bottom: 50px;
 }


</style>
<br>
<div class="title"><p><b>आपला नेता!! आपली चर्चा!! आपले मत!!</b><br>
    प्रसन्न डिजिटल सादर करत आहे आपल्या साठी खास डिजिटल करमाळा ग्रुप......आता आपल्या नेत्यांसोबत संलग्न रहा 24 तास अन् थेट मांडा आपली मते......अन् जाणून घ्या आजचा दौरा,बैठक, मीटिंग,कार्यक्रम अन् बरच काही......ताबडतोब जॉईन करा अन् फॉलो करा आपल्या आवडत्या नेत्याला.......</p></div>
<div class="container leader_main_box">
{% for l in leader %}
    <div class="a">
        <a  href="/group/{{l.id}}/0/">
            <leader_box>
                <div class="img">{% if l.image.url != '' %}<img src="{{l.image.url}}" alt="">{% else %}<img src="{% static 'img/leader.png' %}" alt=" ">{% endif %}</div>
                <div class="name"><name>{{l.name}}</name></div>
                <div class="flex">
                    <div class="members flex"><i class="fa-solid fa-eye"></i><div class="msg">{% leader_page_count l.id %}<small>+</small></div> &nbsp;</div>
                </div>
            </leader_box>
        </a>
        <div class="whatsapp">
            <div>&nbsp;&nbsp;&nbsp;<a href="https://api.whatsapp.com/send?phone=&text=आपला नेता!! आपली चर्चा!! आपले मत!!
                प्रसन्न डिजिटल सादर करत आहे आपल्या साठी खास डिजिटल करमाळा ग्रुप......आता आपल्या नेत्यांसोबत संलग्न रहा 24 तास अन् थेट मांडा आपली मते......अन् जाणून घ्या आजचा दौरा,बैठक, मीटिंग,कार्यक्रम अन् बरच काही......ताबडतोब जॉईन करा अन् फॉलो करा आपल्या आवडत्या नेत्याला.......  👉 https://www.digitalkarmala.com" target="_blank"><i class="fa-solid fa-share mt-2"></i></a></div>
        </div>
    </div>
    
{% endfor %}
</div>

<!------------------------ village ----------------------->
<style>
    .village_box{
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        padding: 10px;
        border: 1px solid black;
        margin-top: 10px;
        display: grid;
        gap: 10px;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        .village_title{
            grid-column-start: 1;
            grid-column-end: 3;
        }
        #village{
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .taluka{
            border: 1px solid black;
            padding: 10px;
            border-radius: 10px;
        }
    }
</style>

<div class="village_box">
    <div class="village_title"><b>तुमच्या गावाच्या ग्रुप साठी तालुका निवडा . </b></div>
    {% for t in taluka %}
    <div class="taluka">
        <div class="form_check">
            <input required class="form-check-input" type="radio" id="chek_box{{t.id}}" onclick="chek_box('{{t.id}}')" name="taluka" >
            <label class="form-check-label" for="chek_box{{t.id}}">{{t.name}}</label>
        </div>
    </div>
    {% endfor %}
    <div id="village"></div>
</div>

<script>
        function chek_box(id){
        $.ajax({
                url: "{% url 'check_taluka_village_index' %}",
                method: "GET",
                data:{
                    id:id
                      },
                    success: function(res){
                        document.getElementById('village').innerHTML = res.village_list;
                    }
            })
    }
</script>

<br><br><br>
<!------------------------ village ---------------------
<style>
    .village_box{
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        padding: 10px;
        border: 1px solid black;
        margin-top: 10px;
        display: grid;
        gap: 10px;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        .village_title{
            grid-column-start: 1;
            grid-column-end: 3;
        }
        #village{
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .taluka{
            border: 1px solid black;
            padding: 10px;
            border-radius: 10px;
        }
    }
</style>

<div class="village_box">
    <div class="village_title"><b>तुमच्या गावाच्या ग्रुप साठी तालुका निवडा . </b></div>
    {% for t in taluka %}
    <div class="taluka">
        <div class="form_check">
            <input required class="form-check-input" type="radio" id="chek_box{{t.id}}" onclick="chek_box('{{t.id}}')" name="taluka" >
            <label class="form-check-label" for="chek_box{{t.id}}">{{t.name}}</label>
        </div>
    </div>
    {% endfor %}
    <div id="village"></div>
</div>

<script>
        function chek_box(id){
        $.ajax({
                url: "{% url 'check_taluka_village_index' %}",
                method: "GET",
                data:{
                    id:id
                      },
                    success: function(res){
                        document.getElementById('village').innerHTML = res.village_list;
                    }
            })
    }
</script>
-->
{% endblock content %}
