{% load static %}
<style>
  KARMALA{
    color: rgb(0, 85, 255);
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="{% static 'img/logo.jpg' %}" style="height: 40px;" alt=""><b>DIGITAL <KARMALA>KARMALA</KARMALA></b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="leader/">Leader login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/features/">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_us/">About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact_us/">Contact us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="office/">login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
