<style>
    a{
            width: 100%;
        }
        .mobile{
            display: flex;
            gap: 10px;
        }
</style>

<div class="mobile">
    <a  href="/sunil/sunil_home/" class="my-1 {% if request.path == '/sunil/sunil_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/sunil/office_staff/" class="my-1 {% if request.path == '/sunil/office_staff/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Office Staff</a>
    <a  href="/sunil/leader/" class="my-1 {% if request.path == '/sunil/leader/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Leader</a>
    <a  href="/sunil/taluka/" class="my-1 {% if request.path == '/sunil/taluka/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Taluka</a>
    <a  href="/sunil/village/" class="my-1 {% if request.path == '/sunil/village/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Village</a>
    <a  href="/sunil/add_video/" class="my-1 {% if request.path == '/sunil/add_video/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Add Video</a>
</div>