{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load static %}
<style>
    .group_name_box{
        font-size: larger;
        position: fixed;
        top: 0;
        background-color: rgb(241, 241, 241);
        width: 100%;
        height: 50px;
        left: 0;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .a{
            background-color: rgb(206, 206, 255);
            grid-column-start: 1;
            grid-column-end: 3;
            text-decoration: none;
        }
        .village_name{
            text-align: center;
            font-size: 15px;
            font-weight: 700;
            color: black;
        }
    }
    footer{
        padding: 2px;
        background-color: rgb(184, 184, 184);
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding-left: 5px;
        padding-right: 5px;
        img{
            height: 50px;
            width: 50px;
            cursor: pointer;

        }
        button{
            height: 30px;
            width: 50px;
            cursor: pointer;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .input{
        height: 90%;
        width: 80%;
        input{
            height: 50px;
            width: 100%;
            border-radius: 20px;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.3);
            font-size: 20px;
            font-weight: 700;
        }
    }
    .img_box{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    textarea{
        width: 90%;
        cursor: no-drop;
        font-size: 25px;
        
    }
    .TAL{
        display: flex;
        gap: 10px;
        .form_check{
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }
    }
    .group_name{
        display: flex;
    }
    .flex{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .msg_box{
        background-color: rgb(185, 249, 228);
        border-radius: 10px;
        padding: 10px;
        .user{
            font-weight: 700;
            font-size: 12px;
        }
        .village_name_in_chat{
            font-weight: 700;
            font-size: 10px;
        }
        .date{
            font-size: 10px;
            font-weight: 700;
            width: fit-content;
            margin-left: auto;
        }
    }
</style>
<!-------------------------------------------->
<div class="group_name_box">
    <div class="user_name">
        {% if user_login == 1 %}
        <h6>Welcome - {{user.name}}</h6>
        {% else %}    
        <h6>Welcome - Guest</h6>
        {% endif %}
    </div>
    <div class="group_name"><b><i>{% if village == 0 %}{{group.leader.name}}{% else %}{{group.village.name}}{% endif %}&nbsp; </i></b> <h6> मध्ये हार्दिक स्वागत</h6></div>
    {% if village == 0 and user_login == 1 %}
    <a class="a" href="/group/0/{{user.village_id}}/"><div class="village_name">{{user.village.name}} - गावाच्या गटासाठी येथे क्लिक करा </div></a>
    {% endif %}
</div>
<input type="hidden" id="room-name" value="{{group.id}}">
<!-------------------------------------------->
<br><br><br>

<!-------------------chat--------------------->

<div class="container">
    {% for c in chat %}
    <div class="msg_box">
        <div class="flex">
            <div class="user">{{c.user.name}} : </div>
            <div class="village_name_in_chat">{{c.user.village.name}} : </div>
        </div>
        <div>{{c.msg}}</div>
        <div class="date">
            <div>{{c.added_date}}</div>
        </div>
    </div>
    <br>
    {% endfor %}
</div>

<div class="text-center"><textarea id="chat-log"  rows="10" readonly></textarea><br></div>

<!-------------------chat end--------------------->


<!------------------------------------------------------------------>
<div>
    <div class="modal" id="user_form" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">माहिती भरा</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">{% csrf_token %}
                    <div class="mb-3">
                      <label for="name" class="form-label">नाव</label>
                      <input type="text" class="form-control" name="name" placeholder="नाव" required>
                    </div>
                    <div class="mb-3">
                      <label for="mobile_number" class="form-label">मोबाईल</label>
                      <input type="number" id="mobile_number" class="form-control" name="mobile" placeholder="mobile" readonly>
                    </div>
                    <div class="mb-3 TAL">
                        {% for t in taluka %}
                        <div class="form_check">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="chek_box{{t.id}}" onclick="chek_box('{{t.id}}')" name="taluka" >
                                <label class="form-check-label" for="flexCheckChecked">{{t.name}}</label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="village"></div>
                    <button type="submit" name="Add_User" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
<!------------------------------------------------------------------>
<footer>
    {% if user_login == 1 %}
    <div class="input"><input  placeholder="Message" id="chat-message-input" type="text" required></div>
    <div class="img_box"><img id="chat-message-submit" src="{% static 'img/message.png' %}" alt=" " id="chat_messsage_submit"></div>
    {% elif user_login == 0 %}
    <div class="input"><input  placeholder="Enter Your Mobile Number" id="mobile"   type="number" required></div>
    <div class="img_box"><button  class="btn btn-primary btn-sm" onclick="check_mobile_number()">Login</button></div>
    {% endif %}
</footer>

<script>
    user_id = '{{user.id}}'
    user_name = '{{user.name}}'

    const roomName = JSON.parse(document.getElementById('room-name').value);

    const chatSocket = new WebSocket(
        'wss://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );
    console.log(chatSocket)

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.log('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    /**document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };*/
    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        if(message==''){
            alert('कृपया संदेश लिहा ')
        }
        else{
            chatSocket.send(JSON.stringify({
                'message': message,
                'user_id': user_id,
                'user_name': user_name,
            }));
        }
        window.scrollBy(0,1000);
        messageInputDom.value = '';
    }



    function check_mobile_number(){
        mobile_number = document.getElementById('mobile').value;
        if( mobile_number.length <= 9){
            alert('pleas Enter 10 digit number ')
        }
        if (mobile_number.length >= 11 ){
            alert('only 10 digit number ')
        }
        if( mobile_number.length == 10){
            $.ajax({
                url: "{% url 'check_mobile_number' %}",
                method: "GET",
                data:{
                    mobile_number:mobile_number
                      },
                    success: function(res){
                        if (res.status == 0){
                            $("#user_form").modal('show');
                            document.getElementById('mobile_number').value = res.mobile_number
                        }
                        if (res.status == 1){
                            location.reload();
                        }
                        
                    }
            })
        }
    }
    function chek_box(id){
        $.ajax({
                url: "{% url 'check_taluka_village' %}",
                method: "GET",
                data:{
                    id:id
                      },
                    success: function(res){
                        document.getElementById('village').innerHTML = res.village_list;
                    }
            })
    }
</script>

{% endblock content %}