{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load static %}
{% load home_tag %}
{% load embed_video_tags %}
<style>
    .group_name_box{
        font-size: larger;
        position: fixed;
        top: 0;
        background-color: rgb(241, 241, 241);
        width: 100%;
        height: 65px;
        left: 0;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .a{
            background-color: rgb(206, 206, 255);
            grid-column-start: 1;
            grid-column-end: 3;
            text-decoration: none;
        }
        .village_name{
            text-align: center;
            font-size: 15px;
            font-weight: 700;
            color: black;
        }
    }
    footer{
        padding: 2px;
        background-color: rgb(184, 184, 184);
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding-left: 5px;
        padding-right: 5px;
        img{
            height: 50px;
            width: 50px;
            cursor: pointer;

        }
        button{
            height: 30px;
            width: 50px;
            cursor: pointer;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .input{
        height: 90%;
        width: 80%;
        input{
            height: 50px;
            width: 100%;
            border-radius: 20px;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.3);
            font-size: 20px;
            font-weight: 700;
        }
        textarea{
            height: 50px;
            width: 100%;
            border-radius: 20px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            font-size: 20px;
            font-weight: 700;
            resize: none;
            padding: 5px;
        }
        textarea::-webkit-scrollbar{
            width: 0;
        }
    }
    .img_box{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .TAL{
        display: flex;
        gap: 10px;
        .form_check{
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }
    }
    .group_name{
        display: flex;
    }
    .flex{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .msg_box{
        background-color: rgb(185, 249, 228);
        border-radius: 10px;
        padding: 10px;
        width: 80%;
        border-top-left-radius: 0px;
        .user{
            font-weight: 700;
            font-size: 12px;
        }
        .village_name_in_chat{
            font-weight: 700;
            font-size: 10px;
        }
        .date{
            font-size: 10px;
            font-weight: 700;
            width: fit-content;
            margin-left: auto;
        }
    }
    .profile{
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-left: auto;
        margin-top: -10px;
    }
    .footer_menu{
            position: fixed;
            bottom: 65px;
            left: 10px;
            padding: 5px;
            z-index: 12121;
            cursor: pointer;
            display: flex;
            gap: 40px;
            div{
                height: fit-content;
                width: fit-content;
                background-color: white;
                border-radius: 50%;
                padding: 5px;
            }
        }
    .send_img{
            height: 50px;
            width: 50px;
        }
    .members{
        font-size: 10px;
        font-weight: 700;
        align-items: center;
    }
    .msg{
        width: fit-content;
        height: fit-content;
        background-color: red;
        color: white;
        padding: 5px;
        border-radius: 45%;
    }
    .video{
        position: fixed;
        top: 85px;
        right: 10px;
    }
</style>
<!-------------------------------------------->
<div class="group_name_box">
    <div class="user_name">
        <div>
            {% if user_login == 1 %}
            <h6>Welcome - {{user.name}}</h6>
            {% else %}    
            <h6>Welcome - Guest</h6>
            {% endif %}
        </div>
        {% if village == 0 %}
        <div>
            <div class="members flex"><i class="fa-solid fa-user-group"></i><div class="msg">{% user_count_group group.leader.id %}<small>+</small></div> &nbsp;</div>
        </div>
        {% else %}
        <div>
            <div class="members flex"><i class="fa-solid fa-user-group"></i><div class="msg">{% user_count_group group.village.id %}<small>+</small></div> &nbsp;</div>
        </div>
        {% endif %}
    </div>
    <div class="group_name"><b><i>{% if village == 0 %}{{group.leader.name}}{% else %}{{group.village.name}}{% endif %}&nbsp; </i></b>{% if group.leader.image.url != '' and village == 0 %}<img src="{{group.leader.image.url}}" class="profile" alt="">{% elif village == 1  %}<img src="{% static 'img/village.jpg' %}" class="profile" alt=" ">{% else %}<img src="{% static 'img/leader.png' %}" class="profile" alt=" ">{% endif %}</div>
    {% if village == 0 and user_login == 1 %}
    <a class="a" href="/group/0/{{user.village_id}}/"><div class="village_name">{{user.village.name}} - गावाच्या गटासाठी येथे क्लिक करा </div></a>
    {% endif %}
</div>
<input type="hidden" id="room-name" value="{{group.id}}">
<!-------------------------------------------->
<br><br><br><br><br><br>

<div id="body_f">

<!-------------------chat--------------------->
    <style>
            .self_msg{
                background-color: rgb(211, 185, 249);
                margin-left: auto;
                border-top-right-radius: 0px;
                border-top-left-radius: 10px;
            }
            .chat_images{
                width: 300px;
                border-radius: 5px;
            }
            .like{
                font-size: 20px;
            }
            .whatsapp{
                cursor: pointer;
                i{
                    color: black;
                }
            }
            @media only screen and (max-width: 500px) {
                .chat_images{
                width: 90%;
                border-radius: 5px;
            }
            }
    </style>

<div class="container">
    {% for c in chat %}
    <div class="msg_box mb-3 {% if c.user_id == user.id %} self_msg {% endif %}" >
        <div class="flex">
            <div class="user">{{c.user.name}} : </div>
            <div class="village_name_in_chat">{{c.user.village.name}} : </div>
            {% if c.user_id == user.id %}<div class="village_name_in_chat" style="margin-left: auto;"><form method="POST">{% csrf_token %}<input type="hidden" name="chat_id" value="{{c.id}}"><button type="submit" class="btn btn-transparent" name="remove_chat"><i class="fa-solid fa-xmark" style="color: red;font-size: 15px;"></i></button></form></div>{% endif %}
        </div>
        <div>{% if c.msg == None %}<img class="chat_images" src="{{c.image.image.url}}" alt="">{% else %}{{c.msg | safe}}{% endif %}</div>
        <div class="flex">
            <div class="like">
                <div id="chat_like{{c.id}}" onclick="like_chat('{{c.id}}')"><small><b>{% user_chat_like c.id user.id %}</b></small></div>
            </div>
            {% if c.msg == None %}
            {% elif c.post_typing_status == 0 %}
            {% else %}
            <div class="whatsapp">
                <div>&nbsp;&nbsp;&nbsp;<a href="https://api.whatsapp.com/send?phone=&text={{c.msg }}👉 https://www.digitalkarmala.com" target="_blank"><i class="fa-solid fa-share mt-2"></i></a></div>
            </div>
            {% endif %}
            <div class="date">
                <div>{{c.added_date}}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="video">
    {% video video.code '160x90' %}
</div>


<div class="container">
    <div id="chat-log"></div>
</div>

<!-------------------chat end--------------------->

</div>

<!------------------------------------------------------------------>
<div>
    <div class="modal" id="user_form" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">माहिती भरा</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">{% csrf_token %}
                    <div class="mb-3">
                      <input type="text" class="form-control" name="name" placeholder="नाव" required>
                    </div>
                    <div class="mb-3">
                      <label for="mobile_number" class="form-label">मोबाईल</label>
                      <input type="number" id="mobile_number" class="form-control" name="mobile" placeholder="mobile" readonly>
                    </div>
                    <div class="mb-3 TAL">
                        {% for t in taluka %}
                        <div class="form_check">
                            <div class="form-check" for="chek_box{{t.id}}">
                                <input class="form-check-input" type="radio" id="chek_box{{t.id}}" onclick="chek_box('{{t.id}}')" name="taluka" >
                                <label class="form-check-label" for="chek_box{{t.id}}">{{t.name}}</label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="village"></div>
                    <button type="submit" name="Add_User" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>


<br><br><br>
<!------------------------------------------------------------------>

{% if user_login == 1 %}

    <!-------------------------------------------------------------->
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">फोटो पाठवा </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" name="group_id" value="{{group.id}}" >
                    <input type="hidden" name="user_id" value="{{user.id}}" >
                    <input type="file" class="form-control" name="image">
                    <br>
                    <button type="submit" name="send_image"  class="btn btn-transparent"><img  class="send_img" src="{% static 'img/message.png' %}" alt=" " id="chat_messsage_submit"></button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!--------- add blog --------->
          <div class="modal fade" id="add_blog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <textarea id="summernote" name="editordata"></textarea>
                    </div>
                    <br>
                    <img  class="send_img" data-bs-dismiss="modal" src="{% static 'img/message.png' %}" alt=" " id="post-message-submit" onclick="check_post_words_limit()" >
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    <!-------------------------------------------------------------->
    <!---------------------------footer menu------------------------->

<br>

    <div class="footer_menu">
        <div><i data-bs-toggle="modal" data-bs-target="#exampleModal" class="fa-solid fa-image"></i></div>
        <div><i class="fa-solid fa-pen" data-bs-toggle="modal"  data-bs-target="#add_blog" ></i></div>
        <div><a href="/" style="color: black;"><i class="fa-solid fa-house"></i></a></div>
        <div><a href="" style="color: black;"><i class="fa-solid fa-rotate-right"></i></a></div>
        <div><strong id="word_limit"></strong></div>
    </div>
    <!---------------------------------------------------->


{% endif %}
<footer>
    {% if user_login == 1 %}
    <div class="input"><textarea oninput="check_words_limit()" placeholder="Message" id="chat-message-input" type="text" required></textarea></div>
    <div class="img_box"><img id="chat-message-submit" src="{% static 'img/message.png' %}" alt=" " ></div>
    {% elif user_login == 0 %}
    <div class="input"><input  placeholder="Enter Your Mobile Number" id="mobile"   type="number" required></div>
    <div class="img_box"><button  class="btn btn-primary btn-sm" onclick="check_mobile_number()">Login</button></div>
    {% endif %}
</footer>


<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script>
    document.documentElement.scrollTop = document.documentElement.scrollHeight;
    user_id = '{{user.id}}'
    user_name = '{{user.name}}'
    user_village_name = '{{user.village.name}}'

    const roomName = JSON.parse(document.getElementById('room-name').value);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

     
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data)
        console.log('receviced server',data)
        input = document.getElementById('chat-message-input').value;
            t = `
                 <div class="msg_box mb-3" id='div'>
                      <div class="flex">
                          <div class="user">${data.user_name} : </div>
                          <div class="village_name_in_chat">${data.user_village_name} : </div>
                          <i class="fa-solid fa-eye-slash" onclick="reload_page()"></i>
                      </div>
                      <div>${data.message}</div>
                      <div class="date">
                          <div>${new Date().toLocaleString()}</div>
                      </div>
                 </div>
            `
            document.getElementById('chat-log').innerHTML += t
            if (data.user_id == user_id){
                document.getElementById('div').className += ' self_msg'; 
            }
    };

    chatSocket.onclose = function(e) {
        console.log('Chat socket closed unexpectedly',e);
    };

    document.querySelector('#chat-message-input').focus();

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };


    function check_words_limit(){
        input = document.getElementById('chat-message-input').value;
        l = 5000
        f = input.length
        document.getElementById('word_limit').innerHTML = ` ${f}/5,000`
        if(f == 0 ){
            document.getElementById('word_limit').innerHTML = ``
        }
        limit = l - f
        if(limit < 1){
            document.getElementById('chat-message-submit').style.display = 'none';
        }
        if(limit > 1){
            document.getElementById('chat-message-submit').style.display = 'unset';
        }
    }



    /**document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };*/
    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        if(message==''){
            alert('कृपया संदेश लिहा ')
        }
        else{
            chatSocket.send(JSON.stringify({
                'message': message,
                'status': 1,
                'user_id': user_id,
                'user_name': user_name,
                'user_village_name': user_village_name,
            }));
        }
        messageInputDom.value = '';
        document.documentElement.scrollTop = document.documentElement.scrollHeight;
    }

    /////////////////////////// |post-message| ///////////////////////////////////

    document.querySelector('#post-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#summernote');
        const message = messageInputDom.value;
        if (message.length > 50000){
                alert('कृपया कमी  शब्द्ध टाका ')
        }
        else{
            if(message == ''){
                alert('कृपया संदेश लिहा ')
            }
            else{
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'status': 0,
                    'user_id': user_id,
                    'user_name': user_name,
                    'user_village_name': user_village_name,
                }));
            }
            document.documentElement.scrollTop = document.documentElement.scrollHeight;
        }  
    }



    function check_mobile_number(){
        mobile_number = document.getElementById('mobile').value;
        if( mobile_number.length <= 9){
            alert('pleas Enter 10 digit number ')
        }
        if (mobile_number.length >= 11 ){
            alert('only 10 digit number ')
        }
        if( mobile_number.length == 10){
            $.ajax({
                url: "{% url 'check_mobile_number' %}",
                method: "GET",
                data:{
                    mobile_number:mobile_number
                      },
                    success: function(res){
                        if (res.status == 0){
                            $("#user_form").modal('show');
                            document.getElementById('mobile_number').value = res.mobile_number
                        }
                        if (res.status == 1){
                            location.reload();
                        }
                        
                    }
            })
        }
    }
    function chek_box(id){
        $.ajax({
                url: "{% url 'check_taluka_village' %}",
                method: "GET",
                data:{
                    id:id
                      },
                    success: function(res){
                        document.getElementById('village').innerHTML = res.village_list;
                    }
            })
    }
    const textarea = document.querySelector("textarea");
      textarea.addEventListener("keyup", e =>{
        textarea.style.height = "63px";
        let scHeight = e.target.scrollHeight;
        textarea.style.height = `${scHeight}px`;
      });



      function reload_page(){
        location.reload()
      }

      $(document).ready(function() {
            $('#summernote').summernote();
        });

    function like_chat(chat_id){
        if(user_id == ''){
            alert('कृपया लॉगिन करा')
        }
        else{
            $.ajax({
                url: "{% url 'like_chat_count' %}",
                method: "GET",
                data:{
                    chat_id:chat_id,
                    user_id:user_id
                      },
                    success: function(res){
                       document.getElementById('chat_like'+chat_id).innerHTML = res.t
                    }
            })
        }
    }


</script>

{% endblock content %}